.matrix-button {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    border-radius: 50%;
    background: #444;
    box-shadow: inset 0 0px 10px 5px #303030;
    width: 3vh;
    height: 3vh;
}

.matrix-button::after {
    content:' ';
    position:absolute;
    background-color:rgba(255,255,255,1);
    border-radius:50%;
    right:4px;
    bottom:4px;
    background-image: radial-gradient(center, circle closest-side, #777, #333);
}

.matrix-button:hover {
    cursor: pointer;
}

.on {
    background: #fff;
    box-shadow: 0px 0px 20px 3px #fcfcaa, inset 0px 0px 13px #777;
}
.on::after{
    display:none;
}