.matrix {
    padding: 1px;
    background: #f5f5f5;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

span {
    display: flex;
    padding: 3%;
    justify-content: space-around;
    width: 100%;
    margin: auto auto;
}

p {
    visibility: hidden;
    font-size: 0;
}